@page
@model CreateModel
@{
    ViewData["Title"] = "Create Successful!";
}

<!--Confirms the user has been successfully created-->
<div class="text-center">
    <h1 class="display-4">User Created Successfully.</h1>
    <h2 class="display-4"><a class="nav-link" asp-area="" asp-page="/Index">[Go Home]</a></h2>
</div>